{
	"settings": {
		"react": {
			"version": "detect"
		},
		"mdx/code-blocks": true,
		// optional, if you want to disable language mapper, set it to `false`
		// if you want to override the default language mapper inside, you can provide your own
		"mdx/language-mapper": {}
	},
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"plugin:@next/next/recommended",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:mdx/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "react", "jsx-a11y"],
	"rules": {},
	"parser": "@typescript-eslint/parser",
	"overrides": [
		{
			"files": ["**/*.ts", "**/*.tsx"],

			"extends": ["plugin:@typescript-eslint/recommended"],
			"rules": {
				"@typescript-eslint/consistent-type-imports": "error"
			}
		}
	]
}
