[tool.poetry]
name = "graspit"
version = "0.7.0"
description = "Aimed for preparing a neat dashboard for our test results"
authors = ["Rahul <saihanumarahul66@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "graspit"}]
maintainers = [
    "Rahul <saihanumarahul66@gmail.com>"
]
[tool.poetry.dependencies]
python = "^3.8"
sanic = "^23.6.0"
tortoise-orm = "^0.20.0"
click = "^8.1.6"
apscheduler = "^3.10.4"
pydantic = "^2.3.0"
loguru = "^0.7.2"

[tool.poetry.group.dev.dependencies]
poetry = "^1.5.1"
pytest = "^7.4.2"
pytest-asyncio = "^0.21.1"
sanic-testing = "^23.6.0"
psutil = "^5.9.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
graspit = "graspit.center:handle_cli"
