.handsomeTable > td,
.handsomeTable > th {
    padding: 8px !important;
    box-sizing: border-box !important;
    height: 500px;
}

.handsontableClass {
    border: 4px solid rgba(255, 255, 255, 0.18) !important;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.handsontableClass td {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    text-align: right !important;
    vertical-align: middle !important;
    color: white !important;
    background: #272727 !important;
    border: 1px solid black !important;
}

.handsontableClass th {
    transition: all 0.5s ease !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background: #201f1f !important;
    color: white !important;
    border: 2px groove black !important;
    font-weight: bolder;
}

.handsontableClass td:hover {
    border: 1px solid orangered !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.handsontableClass tr:hover td {
    background-color: #343434 !important;
}
