.header {
    transition: all 0.5s ease-in-out !important;
}

.tabList {
    transition: all 0.5s ease-in-out !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.tabListHeader {
    background-color: transparent !important;
    background: none;
    position: sticky;
    bottom: 0%;
    display: flex !important;
    align-items: flex-end;
}

.header {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    height: 40px;
}
