.embla {
    overflow: hidden;
}
.container {
    display: flex;
}
.slide {
    flex: 0 0 100%;
    min-width: 0px;
}

.fullPageContainer {
    width: 99vw;
}

.container {
    user-select: none;
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.containerText {
    font-weight: 350;
}
