:root {
    --card-color: #121212;
    --background-color: #262626;
    color-scheme: dark;
    --bg: oklch(35% 0.3 var(--hue));
    --text: oklch(85% 0.1 var(--hue));
    --shadow: oklch(25% 0.2 var(--hue));
    --highlight: oklch(98% 0.05 var(--hue));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    color: lightyellow;
    background-color: orangered;
}

::-moz-selection {
    color: lightyellow;
    background-color: orangered;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

div#__next,
main,
html,
body {
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

.green-glow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 255, 55, 0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 255, 55, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 55, 0.9);
}

.red-glow {
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
}

.red-glow {
    position: relative;
}

.red-glow::before,
.red-glow::after {
    content: '❌';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
    z-index: -1;
}

.red-glow::before {
    top: -10%;
    left: 0;
}

.red-glow::after {
    bottom: -10%;
    right: 0;
}

.warn-glow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 238, 0, 0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 238, 0, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(255, 238, 0, 0.9);
}

.retried-glow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 47, 0, 0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 47, 0, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(255, 47, 0, 0.9);
}

.black-glow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(28, 27, 28, 0.9);
    -moz-box-shadow: 0px 0px 20px 0px rgba(28, 27, 28, 0.9);
    box-shadow: 0px 0px 20px 0px rgba(28, 27, 28, 0.9);
}
