:root {
    --card-color: #121212;
    --background-color: #262626;
    color-scheme: dark;
    --bg: oklch(35% 0.3 var(--hue));
    --text: oklch(85% 0.1 var(--hue));
    --shadow: oklch(25% 0.2 var(--hue));
    --row-bg: rgba(37, 7, 1, 0.196);
    --menu-hover: #5e595956;
    --menu-selected: #5e595944;
    --highlight: oklch(98% 0.05 var(--hue));
    --thick-box: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
    --back-bg: linear-gradient(124deg, #221e22 0%, #220107 100%)
}

div#__next,
main,
html,
body {
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #221e22;
    background-image: var(--back-bg);
}

::selection {
    color: lightyellow;
    background-color: orangered;
}

::-moz-selection {
    color: lightyellow;
    background-color: orangered;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.4rem;
    /* Width of the scrollbar track */
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners for the thumb */
}

.mirror {
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    background-color: transparent !important;
    border: 1.5px solid rgba(255, 255, 255, 0.08) !important;
}


tr.mantine-Table-tr {
    transition: all ease 0.2s;
}

/* adding this to highlight the rows only with bg on hover */
tr.mantine-Table-tr:hover,
.mantine-Tabs-tab:hover {
    background-color: var(--row-bg) !important;
}

.mantine-Select-option,
.mantine-MultiSelect-option,
.mantine-Menu-item,
.mantine-Tabs-tab {
    border: 1px solid transparent !important;
    transition: all ease 0.2s !important;
}

.mantine-Tabs-tab[data-active="true"] {
    background-color: var(--menu-selected) !important;
}

.mantine-MultiSelect-option:hover,
.mantine-Select-option:hover,
.mantine-Menu-item[ data-hovered="true"],
.mantine-Tabs-tab:hover {
    border: 1px solid var(--row-bg) !important;
    background-color: var(--menu-hover) !important;
}

/* adding this here to match the skeleton with the theme */
.mantine-Skeleton-root[data-visible="true"] {
    background-color: #2e2e2e;
    opacity: .4;
    border-radius: 8px;
}