.dottedOnes {
    opacity: 0.8;
    background-image: radial-gradient(#de4405 0.5px, transparent 0.5px),
        radial-gradient(#de4405 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-position:
        0 0,
        10px 10px;
}
