.dottedOnes {
    opacity: 0.8;
    background-image: radial-gradient(#de4405 0.5px, transparent 0.5px),
        radial-gradient(#de4405 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-position:
        0 0,
        10px 10px;
}

.mirrorHeader {
    align-items: center;
    z-index: 100;
    overflow: hidden;
    background-color: transparent !important;
    box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1.5px solid rgba(255, 255, 255, 0.08);
}

.mirrorCard {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1.5px solid rgba(255, 255, 255, 0.08);
}
