.card {
    transition: all 0.5s ease !important;
    border: 1px solid transparent;
    width: 100% !important;
    flex-grow: 1;
    background: rgb(12, 12, 12) !important;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.69) !important;
}

.card:active {
    border-radius: 2rem;
}
