.header {
    line-height: unset !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
    padding: 0px !important;
    padding-left: 12px !important;
    margin-top: 7px !important;
    margin-bottom: 3px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    column-gap: 12px;
    /* background-color: transparent !important; */
    transition: all 0.5s ease-in-out !important;
    height: 45px;

    color: hsl(0 0% 100%);
    border-radius: 1rem;
    border: 1px solid rgba(256, 256, 256, 0.15);
    background: hsl(0 0% 6%);
    box-shadow: 1px 1px hsl(0 0% 100% / 0.25) inset;
    background-color: ((240 4% 46%) / 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header:hover {
    border: 1px solid rgba(256, 256, 256, 0.3);
}

.tab {
    flex-grow: 2;
    border: 1px solid rgba(256, 256, 256, 0.15);
    height: 27px;
    padding-top: 3px;
}
