.frameIcon {
    transition: all ease 0.2s;
}

.frameIcon:hover {
    transform: scale(2);
    z-index: 100;
}

.errorCard {
    border-radius: 0.5rem;
    padding: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 2px 0.5px rgba(255, 0, 0, 0.6);
    background-color: #fff;
}

.errorCard:hover {
    transform: translateY(-2px);
}