.panelResizer {
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 6px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 20px;
    background-color: var(--background-color);
}

/* .panelResizer:active {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--card-color);
} */
