.insetShadow {
    /* color: #202020;
    background-color: #2d2d2d;
    letter-spacing: 0.1em; */
    text-shadow:
        -1px -1px 1px #111,
        2px 2px 1px #363636;
}

.normal {
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
}
